/* Fix user-agent */

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput, .login.page .login-msg {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 50px;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.message .messageBody img {
  max-width: 300px;
  max-height: 300px;
}

.username {
  /* float: left; */
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: fixed;
  right: 0;
  width: 100%;
}

/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */

.tabs .tab {
  display: none;
}

.tabs UL.horizontal {
	list-style: none outside none;
	margin: 0;
  padding-left: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  rgba(255, 255, 255, 0.9);
}

.tabs UL.horizontal LI {
	background: white;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
	display: inline-block;
}

.tabs UL.horizontal A {
	color: #ccc;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 20px;
	text-decoration: none;
}

.tabs UL.horizontal LI.group:hover {
	background: #a0cac0;
	border-bottom: 4px solid #68a697;
}

.tabs UL.horizontal LI.individual:hover {
	background: #ebc1c7;
	border-bottom: 4px solid #d17584;
}

.tabs UL.horizontal LI:hover A {
	color: white;
}

.active.group {
	background: #a0cac0 !important;
	border-bottom: 4px solid #68a697 !important;
}

.active.individual {
    background: #ebc1c7 !important;
	border-bottom: 4px solid #d17584 !important;
}

.active A {
	color: white !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin-left: 5px;
}

/* ALERTS */
/* inspired by Twitter Bootstrap */

#ohsnap {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  z-index: 999;
  background-color: white;
}

.alert-red {
  color: white;
  background-color: #DA4453;

}
.alert-green {
  color: white;
  background-color: #37BC9B;

}
.alert-blue {
  color: white;
  background-color: #4A89DC;

}
.alert-yellow {
  color: white;
  background-color: #F6BB42;

}
.alert-orange {
  color:white;
  background-color: #E9573F;

}

#map-container {
  position: fixed !important;
  bottom: 60px;
  right: 0px;
  z-index: 10;
  min-width: 105px;
  min-height: 40px;
}

#toggle-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  padding: 10px;
  background-color:  rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#map {
  height: 350px;
  width: 350px;
  z-index: 12;
  display: none;
}
